
h1{
    margin-bottom: 0rem;
    font-size: 1.8rem;
    color: var(--green);
}

h2{
    margin-top: 4rem;
    margin-left: 5rem;
	width: 2rem;
	/* border-top: 3px solid var(--green); */
	font-size: 1.5rem;
    font-weight: 700;
    color: var(--green);
    
    display: inline;
}

h3{
    margin-bottom: 0;
    font-size: 0.9rem;
    font-weight: 600;
}



.about-left{
    margin-top: 2rem;
    width: 40%;
    max-width: 24rem;
    min-width: 18rem;
    height: auto;
    object-fit: contain;
}

.about-right{
    padding-left: 8em;
    padding-top: 3em;
    min-width: 20rem;
}

.about-right p{
    margin-top: 0em;
    max-width: 50ch;
}

.about-right ul{
    margin-top: 0.2rem;
    padding-bottom: 3em;
    padding-left: 0;
}

.about-right li{
    list-style: none;
    max-width: 32ch;
    font-size: 0.9rem;
    line-height: 1.6rem;
}

@media (max-width: 80rem){
    h2{
        margin-left: 0;
        margin-top: 1.2em;
    }

    .about-right{
        padding-left: 5em;
        padding-top: 1em;
    }
}

@keyframes photo-animation{
    from{
        opacity: 0.5;
        transform: scale(0.8);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slide-left{
    from{
        opacity: 0;
        transform: translateX(20%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

#personal-image{
    animation-name: photo-animation;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

    -webkit-animation-name: photo-animation;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
}

#about-intro{
    animation-name: slide-left;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;

    opacity: 0;
}


@media (max-width: 60rem){
    .about-left{
        width: 100%;
    }
    .about-right{
        padding-left: 0em;
    }

    .hobbies-section h2{
        padding-left: 0;
    }
}






#email-link{
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

#email-link:hover{
    color: var(--text-hover);
    transition: 0.2s ease-in-out;
}

@media (max-width: 40rem){
    #email-link{
        font-size: 1.6rem;
    }
}

.click-button{
    width: 200px;
    height: auto;
    box-sizing: border-box;
    float: left;
}