.intro-image{
    margin-top: 30px;
    margin-bottom: 30px;
}

#intro{
    margin-bottom: 60px;
    width: 80%;
}

@media (max-width: 1000px){
    #intro{
        width: 90%;
    }
}

#intro h2{
    margin-top: 120px;
}

#email-link{
    font-size: 2rem;
    font-weight: bold;
    color: #17B6BA;
}

.click-button{
    width: 200px;
    height: auto;
    box-sizing: border-box;
    float: left;
}