
.sign{
	text-align: left;
}

h1{
	font-size: 3rem;
}

h2{
	font-size: 1.5rem;
	margin-top: 100px;
	/* display: inline-block; */
}

h3{
	text-align: center;
}

p{
	margin-left: 10%;
	margin-right: 10%;
	text-align: left;
	max-width: 50rem;
	/* width: 70%; */
}

hr{
	margin-top: 180px;
	border-top: 1px solid #17B6BA;
}

/* end of global styling */


.project-banner{
	position: relative;
	background-color: #F3EBE4;
	display: flex;
	width: 100vw;
	height: 100%;
}

.project-banner span{
	margin-left: 10%;
	padding-bottom: .5em;
	padding-top: 2em;

	height: 50%;
	width: 30%;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 1.4em;
	border-bottom: 2px grey solid;
}

.project-banner img{
	width: 50%;
	object-fit: contain;
	margin-left: auto;
}

@media(max-width: 800px){
	.project-banner{
		margin-top: 3rem;
		display: block;
		padding-top: 1rem;
	}

	.project-banner img{
		margin-top: 2rem;
		width: 100%;
	}

	.project-banner span{
		padding: 0;
		display: block;
		margin: 0 auto;
		width: 80%;
		font-size: 2rem;
		border: none;
	}

	h1{
		font-size: 2rem;
		margin-top: 3rem;
		margin-bottom: 2rem;
	}

}


.image-caption{
	margin-top: 10px;
	font-style: italic;
}

.project-container{
	width: 70%;
	text-align: center;
	margin: auto;
	overflow: hidden;
	display: block;
}


@media (max-width: 800px){
	.project-container{
		width: 100%;
		/* box-sizing: border-box;
		float: left; */
	}
}

.boxof2{
	width: 40%;
	box-sizing: border-box;
	float: left;
	text-align: left;
	margin-left: 10%;
}

@media (max-width: 800px){
	.boxof2{
		width: 100%;
		box-sizing: border-box;
		float: left;
	}
}

.boxof2 h2{
	text-align: left;
}

.boxof2 p{
	margin-bottom: 100px;
	margin-left: 0;
}

.boxof2 ul{
	text-align: left;
	margin-top: 0;
	padding-left: 0;
}

.boxof2 li{
	text-align: left;
	margin-bottom: 20px;
	margin-left: 5%;
}

/* peeknest page list */
.project-list{
	text-align: left;
	margin-left: 5%;
}

.box{
	display: inline-block;
}

.bold-text{
	font-weight: bold;
}

.project-nav-button{	
	width: 180px;
	margin-top: 80px;
}

#top-button {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 60px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: rgb(95, 95, 95); /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 8px; /* Rounded corners */
	font-size: 1.2rem; /* Increase font size */
	transition: all 0.6s ease;
  }
  
#top-button:hover {
	background-color: #17B6BA; /* Add a dark-grey background on hover */
}

.narrow-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.nav-btn{
	font-weight: bold;
	display: block;
	position: relative;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5rem;
}

.next-project{
	margin-left: auto;
	position: absolute;
	right: 0;
}

.next-project span{
	color: #17B6BA;
}

@media(max-width: 700px){
	.nav-btn{
		display: none;
	}
}