

h1{
	font-size: 3.2rem;
	margin-bottom: 6rem;
}

h2{
	font-size: 1.2rem;
	font-weight: 900;
}

h3{
	text-align: center;
	font-size: 1.2rem;
}

p{
	max-width: 40rem;
	min-width: 14rem;
}

hr{
	margin-top: 180px;
	border-top: 1px solid #17B6BA;
}

.caption{
	margin-top: 0.5rem;
	font-size: 1rem;
	color: rgb(148, 148, 148);
}

.image-resize{
	max-width: 30rem;
}

/* end of global styling */






.project-container{
	width: 70%;
	margin: auto;
	overflow: hidden;
	display: block;
}

.project-container-wide{
	width: 90%;
	margin: auto;
	overflow: hidden;
	display: block;
}

@media (max-width: 800px){
	.project-container{
		width: 82%;
		/* box-sizing: border-box;
		float: left; */
	}

	.project-container-wide{
		width: 100%;
	}	
}

/* start of project banner */
.project-banner{
	position: relative;
	background-color: #F3EBE4;
	display: flex;
	width: 100vw;
	height: 100%;
}

.project-banner span{
	margin-left: 10%;
	padding-bottom: .5em;
	padding-top: 5%;

	height: 50%;
	width: 30%;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 1.4em;
	border-bottom: 2px grey solid;
}

.project-banner img{
	width: 50%;
	object-fit: contain;
	margin-left: auto;
}

@media(max-width: 800px){
	.project-banner{
		margin-top: 5rem;
		display: block;
		padding-top: 1rem;
	}

	.project-banner img{
		margin-top: 2rem;
		width: 100%;
	}

	.project-banner span{
		padding: 0;
		display: block;
		margin: 0 auto;
		width: 80%;
		font-size: 2rem;
		border: none;
	}

	h1{
		font-size: 2rem;
		margin-top: 3rem;
		margin-bottom: 2rem;
	}

}

/* end of project banner */




/* start of 2 column styling */
.context-section h2{
	color: #17B6BA;
}

.context-section p{
	font-size: 1rem;
}

.col-2-left{
	padding-right: 3em;
}

.col-2-left img{
	max-width: 60rem;
	min-width: 20rem;
}

.col-2-right img{
	max-width: 60rem;
}

/* end of 2 column styling */


.highlight-title{
	margin-top: 5rem;
	padding-right: 5%;
	padding-bottom: 0.5em;

	text-align: right;
	width: 24rem;
	border-bottom: 2px #17B6BA solid;
	font-size: 2rem;
}

@media (max-width: 800px){
	.highlight-title{
		margin: auto;
		margin-top: 5rem;
		text-align: center;
		width: 20rem;
		border-bottom: 2px #17B6BA solid;
		font-size: 2rem;
	}
}



.box{
	display: inline-block;
}

.color-background{
	background-color: #F3EBE4;
	padding: 2em 0;
	margin-top: 2em;
}


.project-nav-button{	
	width: 180px;
	margin-top: 80px;
}

#top-button {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 60px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: rgb(95, 95, 95); /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 8px; /* Rounded corners */
	font-size: 1.2rem; /* Increase font size */
	transition: all 0.6s ease;
  }
  
#top-button:hover {
	background-color: #17B6BA; /* Add a dark-grey background on hover */
}

.narrow-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.nav-btn{
	font-weight: bold;
	display: block;
	position: relative;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5rem;
}

.nav-btn a:hover{
	color: #17B6BA;
	transition: 0.2s ease-in;
}

.next-project{
	margin-left: auto;
	position: absolute;
	right: 0;
}

.next-project span{
	color: #17B6BA;
}

@media(max-width: 700px){
	.nav-btn{
		display: none;
	}
}

