
h1{
	font-size: 3.2rem;
	margin-bottom: 6rem;
}

@media (max-width: 40rem){
	h1{
		line-height: 1.2em;
	}
}

h2{
	margin-top: 6rem;
	margin-bottom: 2rem;
	padding-top: 0.4rem;

	width: 2rem; 
	border-top: 3px solid var(--green);
	font-size: 1.7rem;
	font-weight: 700;
}



h3{
	margin-top: 3rem;
	margin-bottom: 0.2rem;
	color: var(--green);
	font-size: 1.05rem;
	font-weight: 500;
	text-transform: uppercase;
}

h4{
	margin-bottom: 0.7rem;
	/* font-size: 0.9rem; */
	font-weight: 500;
	line-height: 1.4rem;
}

a{
	text-decoration: underline;
	color: var(--green);
}

nav a{
	text-decoration: none;
}

ul, ol{
	padding-left: 1.3rem;
}

p{
	margin-bottom: 2rem;
	max-width: 34rem;
	min-width: 20ch;
}

/* img{
	max-width: 80rem;
} */

hr{
	margin-top: 180px;
	border-top: 1px solid #17B6BA;
}


.explanation{
	/* margin: auto; */
	margin-bottom: 1rem;
	max-width: 30rem;
	/* text-align: center; */
}

.caption{
	margin-top: 0.5rem;
	font-size: 1rem;
	color: rgb(148, 148, 148);
}

.image-resize{
	max-width: 30rem;
}


.project-container{
	width: 55%;
	margin: auto;
	display: block;
}

.vertical-space{
	padding: 3rem 0rem;
}

.wide-container{
	width: 80%;
	margin: auto;
	overflow: hidden;
	display: block;
}

.p60-container{
	width: 70%;
	margin: auto;
	overflow: hidden;
	display: block;
	max-width: 60rem;
}

@media (max-width: 50rem){
	.project-container{
		width: 82%;
		/* box-sizing: border-box;
		float: left; */
	}

	.project-container-wide{
		width: 100%;
	}	
}
/* end of global styling */





/* start of project banner */
@keyframes banner-animation{
	from{
		transform: translateY(10%);
		opacity: 0;
	}
	to{
		transform: translateY(0%);
		opacity: 1;
	}
}

.project-banner{
	margin-top: 2em;
	position: relative;
	background-color: #F3EBE4;

	display: -webkit-flex;
    display: -ms-flex;
	display: flex;
	
	align-items: flex-start;
	
	width: 100vw;
	height: 100%;

	animation-name: banner-animation;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

.project-banner span{
	position: absolute;
	bottom: 5rem;
	left: 10%;

	padding-bottom: 0.5rem;

	width: 30%;
	font-size: 2.4rem;
	font-weight: 600;
	line-height: 1.4em;
	border-bottom: 2px var(--black) solid;
}

.project-banner img{
	width: 50%;
	object-fit: contain;
	margin-left: auto;
}

@media(max-width: 50rem){
	.project-banner{
		margin-top: 5rem;
		display: block;
		padding-top: 1rem;
	}

	.project-banner img{
		margin-top: 2rem;
		width: 100%;
	}

	h1{
		font-size: 2rem;
		margin-top: 3rem;
		margin-bottom: 2rem;
	}

}


@media(max-width: 60rem){
	.project-banner span{
		padding: 0;
		margin: 0 auto;
		margin-top: 1rem;

		display: block;
		position: relative;
		bottom: 0;
		left: 0;

		width: 80%;
		font-size: 2rem;
		border: none;
	}
}



/* end of project banner */




.context-section{
	margin-bottom: 10rem;
	font-size: 0.9rem;
}

.context-section span{
	font-weight: 600;
}

.context-section p{
	margin-top: 0;
	margin-bottom: 1.6rem;
}

.context-section a{
	display: block;
	color: var(--green);
	text-decoration: underline;
}


.color-body h2{
	color: var(--body-color);
}
	/* h2 color change for grocery vancouver project */

	

/* end of 2 column styling */
.col-of-2{
	-webkit-flex: 1 1 50%;
	-ms-flex: 1 1 50%;
	flex: 1 1 50%;
	padding-right: 1rem;
	text-align: center;
	/* align-content: flex-start; */
}

.col-of-2 img{
	width: 85%;
	min-width: 20rem;
}


.col-of-3{
	-webkit-flex: 1 1 33%;
	-ms-flex: 1 1 33%;
	flex: 1 1 33%;
	text-align: center;
}

.col-of-3 img{
	width: 80%;
}



/* specified css for different projects */
.brandstorm-wireframe{
	-webkit-flex: 1 1 30%;
	-ms-flex: 1 1 30%;
	flex: 1 1 30%;
	text-align: center;
}

.big-image{
	-webkit-flex: 1 1 40%;
	-ms-flex: 1 1 40%;
	flex: 1 1 40%;
	text-align: center;
}

.brandstorm-wireframe img{
	width: 80%;
}



.showcase-mockup h4{
	width: 80%;
	margin: auto;
	margin-bottom: 0.3rem;
	font-weight: 400;
}

.showcase-mockup img{
	width: 90%;
}











.box{
	display: inline-block;
}

.color-background{
	background-color: #F3EBE4;
	padding: 2em 0;
	margin-top: 2em;
}


.project-nav-button{	
	width: 180px;
	margin-top: 80px;
}

#top-button {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 60px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: rgb(95, 95, 95); /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px 20px; /* Some padding */
	border-radius: 30px; /* Rounded corners */
	font-size: 1.2rem; /* Increase font size */
	transition: all 0.6s ease;
  }
  
#top-button:hover {
	background-color: var(--green); /* Add a dark-grey background on hover */
}

.narrow-image{
	display: block;
	margin: auto;
	width: 70%;
}

.nav-btn{
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 10rem;
	
	display: block;
	position: relative;
}

.nav-btn a:hover{
	color: var(--green);
	transition: 0.2s ease-in;
}

.next-project{
	margin-left: auto;
	position: absolute;
	right: 0;
}

.next-project span{
	color: #17B6BA;
}

@media(max-width: 43.75rem){
	.nav-btn{
		display: none;
	}
}



/* start of grocery vancouver styling */

.sketch-section img{
	width: auto;
	height: 30vw;
	object-fit: contain;
	min-width: 20rem;
	display: block;
}

@media(max-width: 70rem){
	.sketch-section img{
		width: auto;
		height: 30rem;
	}
}