
.bold-text{
	font-weight: bold;
}

.text-underline{
	text-decoration: underline;
}

.center-text{
	text-align: center;
}

.img-border{
	border: 1px solid grey;
}

.color-green{
    color: #17B6BA;
}

.color-body h2{
	color: #313131;
}

.color-black{
	color: #313131;
}

.color-grey{
	color: #A3A3A3;
}

.bg-showcase{
	background-color: #F3EBE4;
}

.bg-brandstorm{
	background-color: #EDF1FA;
}

.bg-van-bike{
	background-color: #B0C5FF;
}

.bg-grocery{
	background-color: #F0DAA2;
}

.bg-grey{
	background-color: #F0F0F0;
}


.border-top{
	border-top: 2px var(--light-green) solid;
}

.font-weight-normal{
	font-weight: 500;
}



/* shadow created in: https://brumm.af/shadows */
.shadow{
	-webkit-box-shadow: 
	0 3.1px 3.8px rgba(0, 0, 0, 0.036),
	0 10.3px 12.7px rgba(0, 0, 0, 0.054),
	0 46px 57px rgba(0, 0, 0, 0.09);

	-moz-box-shadow:
	0 3.1px 3.8px rgba(0, 0, 0, 0.036),
	0 10.3px 12.7px rgba(0, 0, 0, 0.054),
	0 46px 57px rgba(0, 0, 0, 0.09);

	box-shadow: 
	0 3.1px 3.8px rgba(0, 0, 0, 0.036),
	0 10.3px 12.7px rgba(0, 0, 0, 0.054),
	0 46px 57px rgba(0, 0, 0, 0.09);
}







.margin-top-sm{
	margin-top: 3em;
}

.margin-top{
	margin-top: 6em;
}

.margin-top-lg{
	margin-top: 10em;
}

.no-margin-top{
	margin-top: 0;
}

.padding-bot-sm{
	padding-bottom: 3rem;
}



/* classes for animation */

.fade-in{
	opacity: 0;
	transform: translateY(20%);
	-webkit-transform: translateY(20%);
	-ms-transform: translateY(20%);
	-webkit-transition: opacity 0.5s ease-in;
	-ms-transition: opacity 0.5s ease-in;
	transition: opacity 0.5s ease-in;
}

.fade-in.appear{
	opacity: 1;
	transform: translateY(0%);
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
}

.slide-up{
	transform: translateY(20%);
	transition: transform 0.5s ease-in;
}

.slide-up.slide-appear{
	transform: translateY(0%);
}


/* .slide-left{
	transform: translateX(20%);
	transition: transform 0.5s ease-in;
	transition-timing-function: ease-in-out;
}

.slide-left.appear{
	transform: translateX(0%);
} */