
/* 	
	main color
	#17B6BA
	hover color
	#50cacc;
  */

body{
	background: white;
	color: #313131;
	font-family: Avenir, "Open Sans", sans-serif;
	font-size: 1.12rem;
	line-height: 1.4em;
	margin: 0;
}

p{
	color: rgb(73, 73, 73);
	max-width: 60rem;
}

a{
	color: black;
	text-decoration: none;
}

h1{
	margin-top: 8rem;
	display: inline-block;
}


img{
	height: auto;
	max-width: 100%;
}

/* style setup for the css */

nav{
	margin-top: 1.5rem;
	margin-right: 10%;
	display: block;
}

.header-img{
	margin-left: 17%;
	width: 200px;
	color: #17B6BA;
}

.header-img:hover{
	transition: 0.2s ease-in;
	transform: scale(1.05);
}


nav ul{
	padding: 0;
	list-style: none;
	display: inline-block;
	position: absolute;
	right: 15vw;
	top: 2rem;
}
nav li{
	padding-right: 2rem;
	display: inline;
}
nav a{
	color: black;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
}

@media(max-width: 800px){
	nav ul{
		display: block;
		margin: auto;
		top: 6rem;
	}

	.header-img{
		display: block;
		margin: auto;
	}
}

/* end of nav bar */


.btn{
	color: white;
	background-color: #16B9BB;
	font-size: 0.9rem;
	font-weight: 600;
	padding: 0.9em 1.6em;
	border: none;
	border-radius: 20px;
	min-width: 10rem;
}

h3{
	font-size: 1.4rem;
}



.container{
	width: 70%;
	margin: auto;
	position: relative;
	display: block;
}


.main-intro{
	margin-top: 8rem;
	font-size: 2rem;
	width: 70%;
	line-height: 1.4em;
	/* font-weight: lighter; */
	color: black;
	display: block;
}

.personal-intro{	
	padding-right: 3em;
	box-sizing: border-box;
}

.personal-intro img{
	margin-right: 1em;
	margin-left: 0;
	height: auto;
}

.personal-intro p{
	margin-top: 0rem;
	width: 24rem;
	display: inline-block;
	line-height: 1.3em;
}

@media(max-width: 600px){
	.personal-intro p{
		margin-top: 0rem;
		margin: 0 auto;
		width: 18rem;
		display: inline-block;
		line-height: 1.3em;
	}
}



.intro-contact{
	text-align: center;
}

/* start of styling for contact methods */

.email-link{
	/* font-weight: bold; */
	color: #17B6BA;
	transition: ease-in 0.2s;
}

.email-link:hover{
	color: #50cacc;
}

.linkedin-icon{
	margin-left: 1em;
	background-color: #17B6BA;
	color: white;
	padding: 10px 7px 6px 7px;
	border-radius: 3px;
	transition: ease-in 0.2s;
}

.linkedin-icon:hover{
	background-color: #50cacc;
}

/* end of styling for contact methods */






@media (max-width: 800px){
	.main-intro{
		width: 100%;
		margin-top: 7rem;
		font-size: 1.8rem;
	}
}


.project{
	margin-top: 5rem;
	box-sizing: border-box;
	background-color: #F3EBE4;
	display: block;
	position: relative;
	max-width: 90rem;
}

.project img{
	width: 60%;
	min-width: 20rem;
	object-fit: contain;
}

.project-intro{
	width: 35%;
	padding: 1em;
	padding-top: 1em;
	display: inline-block;
}

.project-intro p{
	font-size: 1rem;
	line-height: 1.2em;
	min-width: 12rem;
}

.project-intro h3{
	margin-top: 2em;
}

.project-intro button{
	margin-top: 1em;
	cursor: pointer;
}

.project-intro span{
	margin-top: 2em;
	font-size: 0.9rem;
	color: grey;
}

@media(max-width: 800px){

	.project{
		text-align: center;
	}
	
	.project-intro{
		width: 90%;
		padding: 1em;
		padding-top: 1em;
		display: inline-block;
	}
}






/* start of footer styling */
footer{
	margin-top: 12rem;
	margin-left: 14vw;
	margin-right: 14vw;
	margin-bottom: 1em;
	padding-top: 2em;
	padding-bottom: 3em;
	text-align: center;
	border-top: 1px rgb(172, 172, 172) solid;
	display: block;
}





