
/* 	
	main color
	#17B6BA
	hover color
	#50cacc;
  */

body{
	background: #FFFDFA;
	color: #313131;
	font-family: Avenir, "Open Sans", sans-serif;
	font-size: 1.12rem;
	line-height: 1.4em;
	margin: 0;

	--main-color: #16B9BB;
	--bg-color: #E4F5F5;
	--text-hover: #50cacc;
	--body-color: #313131;
}

p{
	color: rgb(73, 73, 73);
	max-width: 60rem;
}

a{
	color: black;
	text-decoration: none;
}

h1{
	margin-top: 8rem;
	display: inline-block;
}


img{
	width: 100%;
	height: auto;
	max-width: 100%;
}

/* style setup for the css */

.resume-link{
	margin-left: 10%;
	margin-top: 2em;
	color: #17B6BA;
	font-weight: bold;
	font-size: 1.2rem;
	display: block;
}

.resume-file{
	margin-top: 2em;
	height: 1200px;
	width: 100%;
}

@media (max-width: 50rem){
	.resume-link{
		margin-top: 6em;
		font-size: 1.2rem;
	}

	.resume-file{
		margin-top: 6em;
	}
}

nav{
	margin-top: 1.5rem;
	/* margin-right: 10%; */
	display: block;
}

.header-img{
	margin-left: 15%;
	width: 200px;
	color: #17B6BA;
}

.header-img:hover{
	transition: 0.2s ease-in-out;
	transform: scale(1.05);
}


nav ul{
	padding: 0;
	list-style: none;
	display: inline-block;
	position: absolute;
	right: 10vw;
	top: 2rem;
}
nav li{
	padding-right: 2em;
	display: inline;
}
nav a{
	color: black;
	text-decoration: none;
	font-size: 1.12rem;
	font-weight: bold;
}

#link-to-contact{
	transition: 1s ease-in-out;
}

nav a:hover{
	color: #16B9BB;
	transition: 0.2s ease-in-out;
	text-decoration: none;
	font-size: 1.12rem;
	font-weight: bold;
}


@media (max-width: 43.75rem){
	nav ul{
		display: flex;
		justify-content: space-around;
		width: 20rem;
		transform: translate(-50%);
		left: 50%;
		top: 7rem;
		margin: auto;
	}

	nav li{
		padding-right: 0em;
	}

	.header-img{
		display: block;
		margin: auto;
	}
}

/* end of nav bar */


.btn{
	color: white;
	background-color: #16B9BB;
	font-size: 0.9rem;
	font-weight: 600;
	padding: 0.9em 1.6em;
	border: none;
	border-radius: 20px;
	min-width: 10rem;
}

h3{
	font-size: 1.4rem;
}



.container{
	width: 70%;
	margin: auto;
	position: relative;
	display: block;
}

@media(max-width: 50rem){
	.container{
		width: 80%;
	}
}


.intro-section{
	width: 100%;
	height: 100vh;
	margin-top: 20vh;
}

@keyframes intro-animation{
	from{
		transform: translate(10%, 30%);
		opacity: 0;
		/* transform: scale(0.7); */
	}
	to{
		transform: translate(0%, 0%);
		/* transform: scale(1); */
		opacity: 1;
	}
}

@keyframes fade-in{
	from{
		transform: translateX(-10%);
		opacity: 0;
	}
	to{
		transform: translateX(0%);
		opacity: 1;
	}
}

.main-intro{
	display: block;
	margin: auto;
	width: 70%;
	background-color: #E4F5F5;	
	background-image: linear-gradient(to bottom right, #DFF5F5, #DEF7F7);
	border-radius: 6em 6em 0 6em;
	min-width: 30ch;


	-webkit-animation-name: intro-animation;
	-webkit-animation-duration: 0.7s;
	-webkit-animation-timing-function: ease-in-out;

	-ms-animation-name: intro-animation;
	-ms-animation-duration: 0.7s;
	-ms-animation-timing-function: ease-in-out;

	animation-name: intro-animation;
	animation-duration: 0.7s;
	animation-timing-function: ease-in-out;
}

.main-intro p{
	padding: 2em 3em;
	margin: auto;
	color: var(--main-color);
	font-size: 2rem;
	line-height: 1.4em;
}

.intro-name{
	font-size: 2.4rem;
	font-weight: bold;
}

.intro-title{
	margin: auto;
	margin-top: 2rem;

	color: var(--main-color);
	text-decoration: underline;
	text-align: center;
	font-weight: bold;
	display: block;
	opacity: 0;

	animation-name: fade-in;
	animation-duration: 0.5s;
	animation-delay: 0.7s;

	-webkit-animation-name: fade-in;
	-webkit-animation-duration: 0.7s;
	-webkit-animation-delay: 1s;

	-ms-animation-name: fade-in;
	-ms-animation-duration: 0.7s;
	-ms-animation-delay: 1s;

	/* code is from: https://stackoverflow.com/questions/9131026/how-to-keep-styles-after-animation */
	-webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
	-moz-animation-fill-mode: forwards;    /* FF 5+ */
	-o-animation-fill-mode: forwards;      /* Not implemented yet */
	-ms-animation-fill-mode: forwards;     /* IE 10+ */
	animation-fill-mode: forwards;         /* When the spec is finished */
}


@media (max-width: 60rem){
	.intro-section{
		height: 40vh;
	}

	.main-intro p{
		font-size: 1.2rem;
		line-height: 1.4em;
	}

	.intro-name{
		font-size: 1.8rem;
	}
}

@media (max-width: 40rem){
	.main-intro{
		width: 100%;
	}
}



/* start of styling for contact methods */

.email-link{
	/* font-weight: bold; */
	color: #17B6BA;
	transition: ease-in 0.2s;
}

.email-link:hover{
	color: #50cacc;
}

.linkedin-icon{
	margin-left: 1em;
	background-color: #17B6BA;
	color: white;
	padding: 10px 7px 6px 7px;
	border-radius: 3px;
	transition: ease-in 0.2s;
}

.linkedin-icon:hover{
	background-color: #50cacc;
}

/* end of styling for contact methods */




@keyframes project-animation{
	from{
		transform: translateY(20%);
		opacity: 0.2;
	}
	to{
		transform: translateY(0%);
		opacity: 1;
	}
}

.project{
	margin-top: 5rem;
	box-sizing: border-box;
	background-color: #F3EBE4;
	display: block;
	position: relative;
	max-width: 90rem;
	height: 100%;
	
	/* animation-name: project-animation;
	animation-duration: 1.2s;
	animation-timing-function: ease-in-out; */
}

.project img{
	width: 60%;
	/* min-width: 20rem; */
	object-fit: contain;
}

.project-intro{
	width: 35%;
	margin-top: 5%;
	display: inline-block;
	position: relative;
}

.project-intro p{
	font-size: 1rem;
	line-height: 1.2em;
	min-width: 12rem;
}

.project-intro h3{
	margin-top: 1em;
}

.project-intro button{
	margin-top: 1em;
	cursor: pointer;
}

.project-intro button:hover{
	transform: scale(1.05);
	transition: 0.2s ease-in-out;
}

.project-intro span{
	font-size: 0.9rem;
	color: grey;
}

@media(max-width: 71.875rem){

	.project{
		text-align: center;
	}
	
	.project-intro{
		width: 90%;
		padding: 1em;
		margin-top: 1em;
		display: inline-block;
	}

	.project img{
		width: 100%;
		object-fit: contain;
	}
}






/* start of footer styling */
footer{
	margin-top: 12rem;
	margin-left: 14vw;
	margin-right: 14vw;
	margin-bottom: 1em;
	padding-top: 2em;
	padding-bottom: 3em;
	text-align: center;
	border-top: 1px rgb(172, 172, 172) solid;
	display: block;
}

.footer-link a{
	padding-right: 1em;
	padding-left: 1em;
}

.footer-link a:hover{
	color: #17B6BA;
	transition: ease-in 0.2s;
}


.reference{
	margin-top: 3rem;
}

.styleguide img{
	width: 70%;
}

.styleguide h2,img{
	display: block;
}

@media (max-width: 50rem){
	.styleguide img{
		width: 100%;
	}

	.styleguide{
		margin-top: 6rem;
	}
}


